.mobile-nav-container {
  background-color: white;
  width: 100vw;
  justify-content: space-between;
}

.right-mobile-section {
  margin-right: 1vw;
}
.left-mobile-section {
  margin-left: 3vw;
}
.right-mobile-section {
  margin-right: 1vw;

}
.mobile-search-active{
    width:98%;
    border-radius: 10% / 50%;
}